body {
    background-image: url("../images/blacklodge.jpg");
    color:red;
    align-content: center;
  
  }

  .jumbotron{
      color:red;
  }

  h1{
      text-align: center;
  }
 

  .jumbotron #play{
      align-content: center;
  }

#play{
      color:red;
      border-color: red;
  }